:root 
{
  --bg-color: #000;
  --btn-bg: #212121;
  --btn-text: #fff;
  --operator-bg: #be821e;
  --utility-bg: gray;
  --btn-hover: brightness(150%);
  --font: 'Roboto', sans-serif;
}

* 
{
    box-sizing: border-box;
    font-family: var(--font);
    margin: 0;
    padding: 0;
}

body 
{
    background-color: var(--bg-color);
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
}

p 
{
  font-size: 3rem;
}

button 
{
    width: 6rem;
    height: 6rem;
    border: none;
    border-radius: 3rem;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    font-size: 2rem;
    padding: 10px;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: all 0.6s ease-in-out;
}

button:hover 
{
    filter: var(--btn-hover);
    cursor: pointer;
}

.calculator 
{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 1rem;
}

.button-panel 
{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.display-panel 
{
    padding-bottom: 1rem;
}

.row 
{
    display: flex;
    gap: 0.6rem; 
}

.first-line 
{
    color: black;
    background-color: var(--utility-bg);
}

.operator 
{
    background-color: var(--operator-bg);
}

#btn-zero 
{
    width: calc(6rem * 2 + 10px);
    border-radius: 3rem;
    padding-left: 2.6rem;
    justify-content: flex-start;
}